<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">Tables</a></li>
    <li class="breadcrumb-item active" aria-current="page">Job Seeker</li>
  </ol>
</nav>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Job Seeker</h6>
        <div class="table-responsive">
          <ngx-datatable
            class="bootstrap"
            [rows]="rows"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="ColumnMode.force"
            [footerHeight]="50"
            [limit]="10"
            rowHeight="auto"
          >
          <ngx-datatable-column name="First Name">
            <ng-template
            let-rowIndex="rowIndex"
            let-row="row"
            ngx-datatable-cell-template
          >
            {{ row.name }}</ng-template
          >

          </ngx-datatable-column>


          <ngx-datatable-column name="Surname" >
            <ng-template
              let-rowIndex="rowIndex"
              let-row="row"
              ngx-datatable-cell-template
            >
              {{ row.surname }}</ng-template
            >

          </ngx-datatable-column>
          <ngx-datatable-column name="Telephone"
            ><ng-template
              let-rowIndex="rowIndex"
              let-row="row"
              ngx-datatable-cell-template
            >
              {{ row.telephone }}</ng-template
            >
          </ngx-datatable-column>
          <ngx-datatable-column name="Job Title"
          ><ng-template
            let-rowIndex="rowIndex"
            let-row="row"
            ngx-datatable-cell-template
          >
            {{ row.title }}</ng-template
          >
        </ngx-datatable-column>
        <ngx-datatable-column name="Location"
        ><ng-template
          let-rowIndex="rowIndex"
          let-row="row"
          ngx-datatable-cell-template
        >
          {{ row.location }}</ng-template
        >
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions">
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
          <button (click)="deleteRow(row)" type="button" class="btn btn-danger">  <i class="mdi mdi-delete"></i></button>
        </ng-template>
      </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>
